@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Inter:wght@300;400;500;600;700&display=swap');

@import "./variables.css";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:"Inter",sans-serif;

background:var(--bg-primary);

color:white;

overflow-x:hidden;

min-height:100vh;

}

h1,h2,h3,h4{

font-family:"Orbitron",sans-serif;

letter-spacing:1px;

}

button{

cursor:pointer;

transition:var(--transition);

}

a{

text-decoration:none;

color:inherit;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#23314f;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#050816;

}